/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

th {
  background-color: white;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.triple table {
  border-collapse: collapse;
}

.triple table, .triple th, .triple td {
  border: 1px solid black;
}

/* ==================================
   #NON-EDITABLE
   ================================== */

/* Variables
   ========================================================================== */

$au-non-editable-background    : $au-neutral-lightest !default;

/* Modifiers
   ========================================================================== */

.au-c-form--non-editable {
  background-color:  $au-non-editable-background;
  max-width: 100%;

  table {
    max-width: 100%;
    width: 100%;

    td {

    }
  }
}

/* ==================================
   #DATA-TABLE
   ================================== */

/* Modifiers
   ========================================================================== */

.data-table--error {
  border: .1rem solid $au-neutral-lighter;
  border-bottom: .2rem solid $au-red;
}

/* ==================================
   #DROPZONE
   ================================== */

/* Modifiers
   ========================================================================== */

.upload--error .upload__element {
  border-bottom: .2rem solid $au-red;
}

/* ==================================
   #POWER SELECT
   ================================== */

/* Modifiers
   ========================================================================== */

.ember-power-select--error .ember-power-select-trigger {
  border-bottom: .1rem solid $au-red ;
}

/* ==================================
   #DATE PICKER
   ================================== */

/* Modifiers
   ========================================================================== */

.au-c-date-picker-container .datepicker {
  width: auto;

  .input-field {
    width: 100%;
  }

  .datepicker__icon {
    right: 1.5rem;
  }
}


.au-c-date-picker-container--error .input-field--datepicker {
  border: .3rem solid $au-red ;
}

/* ==================================
   #CHECKBOX
   ================================== */

/* Modifiers
   ========================================================================== */

.checkbox {
  margin-right: 0;
  min-height: 1.5rem;
}
