/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

th {
  background-color: white;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.triple table {
  border-collapse: collapse;
}

.triple table, .triple th, .triple td {
  border: 1px solid black;
}

/* ==================================
   #NON-EDITABLE
   ================================== */

/* Variables
   ========================================================================== */

$au-non-editable-background    : $au-neutral-lightest !default;

.au-c-form--non-editable {
  background-color:  $au-non-editable-background;
  overflow-x: hidden;

  table {
    max-width: 100%;
    width: 100%;

    td {
      
    }
  }
}
