/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==================================
   #NON-EDITABLE
   ================================== */

/* Variables
   ========================================================================== */

$au-non-editable-background: $au-gray-100 !default;

/* Modifiers
   ========================================================================== */

.au-c-form--non-editable {
  background-color: $au-non-editable-background;
  max-width: 100%;

  table {
    max-width: 100%;
    width: 100%;
  }
}

/* ==================================
   #TEMPORARY GENERAL DISABLED STATE FOR FORM
   ================================== */

.au-c-form--disabled {
  .ember-basic-dropdown-trigger,
  .au-c-textarea,
  .au-c-input,
  .au-c-textarea--error,
  .au-c-input--error,
  .ember-power-select--error .ember-power-select-trigger,
  .au-c-date-picker-container--error .input-field--datepicker {
    background-color: $au-input-disabled-background-color;
    border-color: $au-input-disabled-border-color;
    color: $au-input-disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }

  .au-c-help-text--error,
  .upload__element__label {
    color: $au-input-disabled-color;
    pointer-events: none;
  }

  .au-c-label--error::before {
    background-color: $au-input-disabled-color;
  }

  .au-c-button {
    background: $au-input-disabled-color;
  }
}

/******************************************************************************
  Utility classes (that should be added to AppUniversum :p )
******************************************************************************/

.au-u-monospace {
  font-family: var(--au-font-tertiary);
}

.au-u-button-to-list-navigation {
  width: 100%;
  height: inherit;
  border: none;
  border-radius: 0;
}
