<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <LinkTo @route="index" class="au-c-button-link au-c-button-link--neutral au-u-margin-bottom-small">&leftarrow; Terug naar overzicht</LinkTo>
  <div class="grid">
    <div class="col--6-12">
      <h1 class="h2 au-u-margin-bottom">Maak Nieuw Dossier</h1>
    </div>
  </div>
</div>

{{outlet}}