<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <LinkTo @route="index" class="au-c-button-link au-c-button-link--neutral au-u-margin-bottom-small">&leftarrow; Terug naar overzicht</LinkTo>
  <div class="au-o-grid">
    <div class="au-o-grid au-u-1-2">
      <h1 class="au-h2 au-u-margin-bottom">Maak nieuw dossier</h1>
    </div>
  </div>
</div>
<hr>
{{outlet}}
