<div {{did-insert this.loadData}}>

  {{#each this.propertyGroups as |propertyGroup|}}
    <ul>
      {{#each propertyGroup.sortedFields as |field|}}
        <li>
            {{component (component-for-display-type-edit field.displayType)
            field=field
            formStore=this.args.formStore
            graphs=this.args.graphs
            sourceNode=this.args.sourceNode
          }}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>

{{yield}}
