<div class="form__row u-spacer--tb--tiny" {{did-insert this.loadData}}>
  {{#each this.files as |file|}}
    <VoMuFileCard @file={{file}} onDelete={{this.removeFile}}/>
  {{/each}}
  <VoMuFileDropzone @onFinishUpload={{this.addFile}} @maxFileSizeMB="1024"/>
</div>
