<div class="au-o-box">
  <AuHeading @skin="2" class="au-u-margin-bottom-small">
    {{t "loading.app"}}
  </AuHeading>
  <AuLoader @padding="small" />
  <AuHelpText @size="normal">
    {{t "loading.thanks"}}
  </AuHelpText>
</div>
