<AuAlert
  @title="Fout"
  @skin="error"
  @icon="cross"
  @size="default"
  class="au-u-margin-large">
  <p class="au-u-margin-bottom au-u-margin-top">
    Er ging iets onverwachts verkeerd tijdens het gebruik van de applicatie. Bekijk onderstaand foutbericht voor meer details. Als dit probleem blijft aanhouden, neem contact op met de uitgever van deze software met vermelding van onderstaand foutbericht.
  </p>
  <AuHr />
  <p class="au-u-bold au-u-margin-top">
    <code class="au-u-monospace">{{this.model}}</code>
  </p>
</AuAlert>
